#container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#left-div,
#right-div {
    padding: 10px;
}

#left-div {
    width: 60%;
}

#right-div {
    width: 30%;
}

#right-div>#dati-ordine {
    border: 1px solid black;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 10px;
}

#right-div>#dati-ordine>p:first-child {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 18px;
}

#right-div>#dati-ordine>hr {
    color: rgb(209, 209, 209);
    margin: 0px;
}

#right-div>#dati-ordine>#totale-prezzo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* allinea verticalmente sulla stessa riga */
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

/* indica il prezzo su quella riga */
#right-div>#dati-ordine>#totale-prezzo>p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
}

#right-div>#dati-ordine>#indirizzo>button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 10px;
    font-size: 15px;
    margin-top: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#right-div>#dati-ordine>#indirizzo>button * {
    margin: 0px;
    padding: 0px;
}

#right-div>#dati-ordine>#indirizzo>button:hover {
    color: rgb(65, 65, 65);
}

#right-div>#dati-ordine>button {
    color: white;
    background-color: #006430;
    border: none;
    padding: 15px;
    width: 100%;
    cursor: pointer;
}

#openMenu {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.322);
    top: 0;
    left: 0;
    z-index: 99;
}

#exit-menu {
    font-size: 25px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#menu-indirizzi {
    position: absolute;
    background-color: white;
    margin: auto;
    width: 40%;
    height: 80%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    & #container-addr {
        overflow-y: scroll;
    }

    & #title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        & button {
            background-color: white;
            border: none;
            font-size: 20px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    & button.submit {
        background-color: #006430;
        color: white;
        border: none;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: auto;
        display: block;
    }
}

.list-address {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}

@media screen and (min-width: 901px) {
    #menu-indirizzi {
        min-width: 700px;

        /** 
         * alza la posizione del bottone
         * modificando la dimensione del container
         * con la lista degli indirizzi.
         */
        & #container-addr {
            height: calc(100% - 160px);
        }
    }

    #menu-indirizzi>h1 {
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px;
        font-size: 25px;
    }
}

@media screen and (max-width: 900px) {
    #menu-indirizzi {
        width: 90%;

        /** 
         * abbassa la posizione del bottone
         * modificando la dimensione del container
         * con la lista degli indirizzi.
         */
        & #container-addr {
            height: calc(100% - 120px);
        }
    }

    #menu-indirizzi>h1 {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
    }
}

.hide {
    display: none;
}