.lista-prodotti {
    display: flex;
    flex-wrap: wrap;
}

.lista-prodotti > .item-prodotto {
    background-color: rgb(243, 243, 243);
    width: 230px;
    height: 350px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    border-radius: 25px;
}

.lista-prodotti > .item-prodotto:hover {
    transform: scale(1.06);
}

.item-prodotto img {
    width: 100%;
}

.item-prodotto * {
    padding: 0;
    margin: 0;
}

.item-prodotto a {
    margin: 0px;
}

.prodotto_title {
    font-size: 20px;
}
