.container-prodotti {
    display: flex;
}

/* Stile per la colonna sinistra (filtri) */
.container-prodotti .left-column {
    background-color: rgb(245, 245, 245);
    padding: 20px;
}

/* Stile per la colonna destra */
.container-prodotti .right-column {
    flex: 1;
    padding: 20px;
}