#container {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}

#view-container {
    width: 350px;
}

#img-container {
    margin: 20px;
    border: 2px solid rgb(170, 170, 170);
}

#img-container img {
    margin: 0px;
    /**
     * Fai in modo che l'immagine copra tutto lo spazio
     * centrale senza che cambia ratio.
     */
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#view-container .some-photo {
    margin-left: 20px;
    margin-right: 20px;
    /* per far si che i div sulla nuova riga si posizionino a sinistra */
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    /* per eventuali rapporti ratio diversi */
    overflow: hidden;
}

#view-container .some-photo img {
    width: 50px;
    border: 1px solid rgb(177, 177, 177);
    padding: 5px;
    cursor: pointer;
    margin: 2px;
}

#view-container .some-photo img:hover {
    border: 1px solid rgb(90, 90, 90);
}

#description {
    margin: 20px;
}

#description * {
    font-family: 'Open Sans';
}

#description h1 {
    font-size: 35px;
}

@media screen and (min-width: 1001px) {
    #view-container {
        padding-bottom: 150px;
    }
}

@media screen and (max-width: 1000px) {
    #container {
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
    }

    #view-container {
        width: 100%;
    }

    #img-container {
        height: 300px;
    }
}

input[type="submit"] {
    background-color: white;
    border: 2px solid #3CB371;
    color: #3CB371;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #3CB371;
    color: white;
}

.price {
    display: flex;
    flex-direction: row;
}

.price p {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-size: 50px;
}

.price s {
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    font-style: italic;
    font-size: small;
}