#filter {
    background-color: #F4F5F5;
    padding: 20px;
    height: 100%;

    /**
     * Per fissare il filtro in alto quando si scorre
     */
    position: sticky;
    top: 0px;
}

#filter form {
    /**
     * Per metterlo in colonna in modo responsivo.
     * (non devo mettere <br> e posso adattare per mobile
     * in questo modo).
     */
    display: flex;
    flex-direction: column;
}

#filter form .single-table {
    /* Il gruppo del form sta sulla stessa riga. */
    display: inline;
}

#filter,
#filter h4 {
    margin: 0px;
}

#filter {
    margin-right: 10px;
}

#filter h4 {
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#filter input {
    margin-left: 20px;
}

#filter label {
    user-select: none;
}

#filter input[type="submit"] {
    border: none;
    background-color: #3CB371;
    color: white;
    margin-top: 20px;
    font-size: 12pt;
}

#button-mobile-form-submit {
    display: none;
}

@media screen and (max-width: 899px) {

    #filter {
        position: relative;
        overflow-x: scroll;
        white-space: nowrap;
    }

    #filter form {
        display: inline-block;
        flex-direction: none;
    }

    #filter h4 {
        display: none;
    }

    #filter input[type="checkbox"] {
        display: none;
    }

    #filter label {
        border: 1px solid rgb(184, 184, 184);
        padding: 5px;
    }

    #filter input[type="checkbox"]:checked + label {
        background-color: rgb(60, 134, 78);
        color: #ffffff;
    }

    #filter form .single-table {
        width: min-content;
        margin: 0px;
    }

    #filter input[type="submit"] {
        display: none;
    }

    #button-mobile-form-submit {
        margin: 0px;
        margin-top: 10px;
        padding: 10px;
        text-transform: uppercase;
        width: calc(100% - 10px);
        background-color: #3CB371;
        border: none;
        color: white;
        margin-left: 5px;
        margin-right: 5px;
        /**
         * Per mettere il bottone filtra sempre in basso all'ultima riga.
         */
        display: block;
    }

    #button-mobile-form-submit:hover {
        cursor: pointer;
    }
}