html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

a.text, a.text:visited, a.text:hover, a.text:active {
    color: inherit;
    text-decoration: none;
}

.not-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-f4f5f5 {
    background-color: #F4F5F5;
}

.bg-3CB371 {
    background-color: #3CB371;
}

.hide {
    display: none !important;
}