.sticky-top {
    position: sticky;
    top: 40px;
}

.not-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bg-f4f5f5 {
    background-color: #F4F5F5;
}

.bg-3CB371 {
    background-color: #3CB371;
}

.hide {
    display: none !important;
}