.active {
    background-color: #00AE46;
    color: white;
}

#cotinaner {
    display: flex;
    height: 100vh;
}

#side_bar {
    margin: 0;
    background-color: #f6f6f6;
    box-shadow: 1px 1px 1px #cce3bd;
    height: 100%;
    width: 10%;
    min-width: 250px;
    max-width: 400px;
    font-weight: 500;
    text-align: center;

    & hr {
        width: 90%;
    }

    & h2 {
        margin: 50px 20px 0;
        font-size: 20px;
    }

    & ul {
        padding: 0;
        list-style: none;

        & li {
            text-decoration: none;
            text-overflow: ellipsis;
            cursor: pointer;
            padding: 10px;
            font-size: 14px;
            font-family:  Roboto,sans-serif;
        }

        & .item:hover {
            color: white;
            background-color: #005525;
        }
    }
}

#content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding-top: 50px;
    justify-content: space-evenly;
    height: 100vh;
    overflow-y: scroll;
}

#list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    justify-content: space-evenly;
    height: 100vh;

    & p {
        padding: 0;
        margin: 0;
    }

    & p:first-child {
        font-size: 24px;
    }

    & p:last-child {
        font-size: 18px;
    }

    & .listbox {
        cursor: pointer;
        margin: 5px;
        width: 350px;
        height: 200px;
        text-align: center;
        align-content: center;
        border-radius: 30px;
        padding: 50px;
        font-size: 30px;
        background-color: #f6f6f6;
        transition: all 100ms linear;
        box-shadow: 0 0 13px #cfcfcf;
    }

    & .listbox:hover {
        background-color: #22e60d;
        -webkit-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
        transition: all 100ms linear;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #22e60d;
}

input:focus + .slider {
    box-shadow: 0 0 1px #22e60d;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#checkbox_area {
    align-items: center;
    align-content: center;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    margin: 0;
    overflow: hidden;
}

table {
    overflow-y:scroll;
    min-height:300px;
    height: 50%;
    display:block;
}

th {
    position: sticky;
    top: 0;
    background-color: #eeeeee;
    box-shadow: 1px 1px 1px black;
}

td {
    min-width: 300px;
    text-align: center;
}

tr td:first-of-type {
    cursor: pointer;
}

tr td:first-of-type:hover {
    color: #0b0bff;
}

.containerpopup {
    position: absolute;
    font-family: Arial, sans-serif;
    min-width: 700px;
    min-height: 800px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 600px;
    margin: auto;
    max-width: 1000px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999999999;
}

h1 {
    text-align: center;
}

.product-form {
    padding: 40px 60px;
}

.product-form .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.product-form .form-group label {
    flex: 1;
    margin-right: 10px;
}

.product-form .form-group input,
.product-form .form-group textarea {
    flex: 2;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.product-form .form-group button,
.editImage {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.editImage {
    height: 50px;
    width: 80px;
}

.product-form .form-group button:hover,
.editImage:hover {
    background-color: #0056b3;
}

.product-form .form-actions {
    text-align: center;
    margin-top: 20px;
}

.product-form .form-actions button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 10px;
}

.product-form .form-actions button:hover {
    background-color: #218838;
}

.product-form .form-actions button:nth-child(2) {
    background-color: #dc3545;
}

.product-form .form-actions button:nth-child(2):hover {
    background-color: #c82333;
}

.product-form .form-actions button:nth-child(3) {
    background-color: #6c757d;
}

.product-form .form-actions button:nth-child(3):hover {
    background-color: #5a6268;
}